## Cellcyte Image Processing Form - REDCap API

In [1]:
import sys
import os
import re
import requests
from io import StringIO
import pandas as pd
import numpy as np
from datetime import datetime
from config import config

### Get Record
Export a specific experiment record to a dataframe

In [2]:
# The cellcyte dataset id you want to export
DATASET_ID = 'ABCDEF'

api_url = config['api_url']
api_token = config['api_token']

get_record = {
    'token': api_token,
    'content': 'record',
    'format': 'csv',
    'type': 'flat',
    'filterLogic': f"[dataset_id]='{DATASET_ID}'"
}

record_response = requests.post(api_url, data=get_record)
print('get record HTTP Status: ' + str(record_response.status_code))

exp_data = StringIO(record_response.text)
exp_df = pd.read_csv(exp_data, sep=',', dtype='str')
exp_df

get record HTTP Status: 200

,record_id,request_user,expt_owner,contact,dataset_id,dataset_name,expt_date,time_drug_added,timepoints,ch1_name,ch2_name,platemap_file_upload,plate_map_location,cellcyte_experiment_image_processing_request_form_complete
0,12,Monica,Monica,test@email.com,ABCDEF,dataset-1,2023-09-20,2023-09-20 19:26,10,ch1,ch2,2022_11_29-other-SOCEi-and-BRAFi_CM-plate-map.tsv,NaN,2

### Export uploaded plate map file

In [3]:
get_file = {
    'token': api_token,
    'content': 'file',
    'action': 'export',
    'record': exp_df['record_id'].values[0],
    'field': 'platemap_file_upload',
    'returnFormat': 'csv'
}

file_response = requests.post(api_url,data=get_file)
print('get file HTTP Status: ' + str(file_response.status_code))

file_data = StringIO(file_response.text)
pmap = pd.read_csv(file_data, sep='\t')
pmap

get file HTTP Status: 200

   well cell.line drug1  drug1.conc drug1.units drug2  drug2.conc drug2.units
0   A01       NaN   NaN         NaN           M   NaN         NaN           M
1   A02       NaN   NaN         NaN           M   NaN         NaN           M
2   A03       NaN   NaN         NaN           M   NaN         NaN           M
3   A04       NaN   NaN         NaN           M   NaN         NaN           M
4   A05       NaN   NaN         NaN           M   NaN         NaN           M
..  ...       ...   ...         ...         ...   ...         ...         ...
91  H08       NaN   NaN         NaN           M   NaN         NaN           M
92  H09       NaN   NaN         NaN           M   NaN         NaN           M
93  H10       NaN   NaN         NaN           M   NaN         NaN           M
94  H11       NaN   NaN         NaN           M   NaN         NaN           M
95  H12       NaN   NaN         NaN           M   NaN         NaN           M

[96 rows x 8 columns]